<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="img">
                <img src="{{userResults.avatar_url}}" style="border-radius: 50%;" alt="">
            </div>
            <div class="login">
                <h3>Username: {{userResults.login}} </h3>
            </div>
            <div class="followers">
                <h3>Followers: {{userResults.followers}} </h3>
            </div>
            <div class="following">
                <h3>Following: {{userResults.following}} </h3>
            </div>
            <div class="public_repos">
                <h3>Public_repos: {{userResults.public_repos}} </h3>
            </div>
            <div class="create_at">
                <h3>Since: {{userResults.created_at|date}} </h3>
            </div>
        </div>
        <div class="col-md-8" class="repositories">
            <h1>                <h3 style="text-align: center;">{{userResults.login}}: Public Repositories</h3></h1>
            <hr style="color: blue; height: 3px; font-weight: bold;">
            <div class="description">
                <h3>Name: {{repositoryResults.name}} </h3>
                <h4>Description: {{repositoryResults.description}} </h4>
                <h3>Created on: {{repositoryResults.create_at|date}} </h3>
            </div>



        </div>
    </div>

   
    
</div>
