       
<div class="container" style="height: 800px; overflow-y: scroll;">
    <form class="form-input" (ngSubmit)="Rep()"  #formInputs="ngForm">
        <input type="text" class="form-control" ngModel name="search" placeholder="Github username "><br>
        <button type="submit" style="color: white;"  class="btn btn-warning">SEARCH</button><br><br>
    </form>         
    <div class="row" style="border-color: rgb(229, 234, 236);" *ngIf="repository">
        <div class="repo-content" *ngFor="let repoos of fetchrrr; ">
            <div class="name-repo">
                <h5 >Name: <strong><span appStyleDirective ><u>{{ repoos.name }}</u></span></strong></h5>
            </div>
            <div class="desc-repo">
                <h5> Description: {{ repoos.description }}</h5>
            </div>
            <div class="lang-repo">
                <h5> Language: {{ repoos.language }}</h5>
            </div>
            <div class="date-repo">
                <h5> Created On:<strong>{{ repoos.created_at | date }}</strong></h5>
            </div>
            <div class="view-online">
                <a href="{{repoos.html_url}}">
                    <button class="btn btn-secondary" style="background-color: blue; font-weight: bold;">View Online </button>
                </a>
            </div>
        </div> 
    </div>
</div>        
 
      




