<div class="container-fluid">
    <div class="header" style="background-color: blue;height: 100px; padding-top: 30px; text-align: center; color: white; font-weight: bold;">
        <h1>Github Search Angular Project</h1>
    </div>
    <div class="nav-bar" style="display: flex; justify-content: center;">
        <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active" >Dashboard</a>
        <a class="nav-link active" aria-current="page" routerLink="user" routerLinkActive="active"  >Users</a>
        <a class="nav-link active" aria-current="page" routerLink="repo" routerLinkActive="active"  >Repositories</a>
    </div>
</div>
