<form>
    <div class="form-group">
        <label>Github Username:></label>
        <input  type="text" name="search" [(ngModel)]='username' (keyup)="findUser()" >
    </div>

</form>
<div class="display">
    <div class="list-group">
        <li class="list-group-item"><strong>Profile:</strong> <img src="{{user.avatar_url}}" alt=""></li>
        <li class="list-group-item"><strong>Following:</strong> {{user.following}}</li>
        <li class="list-group-item"><strong>Email:</strong> {{user.email?user.email:"No email Found"}}</li>
        <li class="list-group-item"><strong>Location:</strong> {{user.location?user.location:"No Location Found"}}</li>
        <li class="list-group-item"><strong>Repositories:</strong> {{user.public_repos}}</li>
        <li class="list-group-item"><strong>created on:</strong> {{user.created_at}}</li>
    </div>
</div>
